In [1]:
import pandas as pd

In [2]:
# Load the Dataset
df = pd.read_excel('MM-Trailer_dataset.xlsx')
print(df.sample(5))

         IMDBid                 Movie Title  \
1062  tt2072233                   Sleepless
67    tt0415489              American Crude
1332  tt1860353                       Turbo
760   tt0079540                   Meatballs
1061  tt3165612  Sleeping with Other People

                                                    URL  Label
1062      https://www.imdb.com/videoplayer/vi2938549785    red
67        https://www.imdb.com/videoplayer/vi3085173017  green
1332       https://www.imdb.com/videoplayer/vi127903257  green
760        https://www.imdb.com/videoplayer/vi496369945  green
1061  https://www.youtube.com/watch?v=otMQKxRQ3pM&li...    red

In [3]:
# Inspect the dataset
# Count of non-empty values per column
print(df.count())

IMDBid         1433
Movie Title    1433
URL            1433
Label          1433
dtype: int64

In [4]:
# Count of unique values per column
print(df.nunique())

IMDBid         1433
Movie Title    1428
URL            1433
Label             2
dtype: int64

In [5]:
# Preprocess the dataset

# Find and print duplicate rows based on 'IMDBid', 'Movie Title', and 'URL'
duplicates_movie_title = df[df.duplicated(subset=['Movie Title'], keep=False)]
duplicates_imdbid = df[df.duplicated(subset=['IMDBid'], keep=False)]
duplicates_url = df[df.duplicated(subset=['URL'], keep=False)]

# Combine all duplicates into one DataFrame
duplicates = pd.concat([duplicates_imdbid, duplicates_movie_title, duplicates_url]).drop_duplicates()

print(duplicates)

         IMDBid   Movie Title  \
261   tt1024714         Choke
262   tt1024715         Choke
379   tt0079073       Dracula
380   tt0021814       Dracula
479   tt0808279   Funny Games
480   tt0119167   Funny Games
653   tt0903627         Julia
654   tt0076245         Julia
1019  tt5460226  Search Party
1020  tt2758904  Search Party

                                                    URL  Label
261       https://www.imdb.com/videoplayer/vi1843855641  green
262         https://www.youtube.com/watch?v=ijbusd2lVRA    red
379         https://www.youtube.com/watch?v=fgFPIh5mvNc  green
380         https://www.youtube.com/watch?v=4qLS_DEIrYA    red
479         https://www.youtube.com/watch?v=hAENTZUN688    red
480         https://www.youtube.com/watch?v=Ec-70W_K77U  green
653        https://www.imdb.com/videoplayer/vi944636697  green
654         https://www.youtube.com/watch?v=xWU9TJ5VNTc  green
1019  https://www.youtube.com/watch?v=AkMGjTEtCYI&li...    red
1020      https://www.imdb.com/videoplayer/vi1012118809  green

In [6]:
# dracula, funny games, julia - same name different movies

# choke, search party - same movie, different trailers, different ratings